
	<div class="container">
		<div class="d-flex justify-content-center">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="../assets/pikoro.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form #userForm="ngForm" (ngSubmit)="onSubmit()">
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							
							<input type="text" class="form-control" [(ngModel)]="user.Name" name="Name" placeholder="name">
						
						</div>
                        <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							
							<input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName" placeholder="lastName">
						
						</div>
                        <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							
							<input type="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="email">
						
						</div>

						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							
							<input type="file" class="form-control" [(ngModel)]="user.Photo" observeFiles  name="Photo" placeholder="Photo" (change)="upload($event)">
						
						</div>

						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							
							<input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="password">
						
						</div>
						
				 	<button type="submit"  class="btn login_btn">Sign Up</button>

					 <div [hidden]="!submitted" >
						<h4>You Sign Up successfully!</h4>
					  </div>
				
					</form>
				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						You have already an account <a href="/" class="ml-2">Sign In</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>


